@*@model IEnumerable<EProjects_III.Models.Category>*@
@model X.PagedList.IPagedList<EProjects_III.Models.Discount>
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="bg-secondary rounded h-100 p-4">
        @*<div class="row">*@
        <div class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
            <h6 class="">List Of Discount</h6>
            <form class="d-none d-md-flex ms-4" action="/Admin/Categories/Index" method="GET">
                @*<input class="form-control bg-dark border-0" type="search" placeholder="Search">*@
                <div class="input-group input-group-sm" style="width: 350px;">
                    <input type="text" name="Search" class="form-control float-right" placeholder="Nhâp tên danh mục">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>

        </div>
        <div class="navbar-nav align-items-center ms-auto">
            <a class="btn btn-outline-info m-2" asp-area="Admin" asp-controller="Discounts" asp-action="Create">Add Category</a>
        </div>
        @*</div>*@


        <table class="table table-bordered">
          
            <thead>
                <tr>
                    <th scope="col">DiscountId</th>
                    <th scope="col">DiscountName</th>
                    <th scope="col">Description</th>
                    <th scope="col">DiscountPercent</th>
                    <th scope="col">Active</th>
                    <th scope="col">CreatedAt</th>
                    <th scope="col">Functions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <th>@item.DiscountId</th>
                    <td>@item.DiscountName</td>
                    <td>@item.Description</td>
                    <td>@item.DiscountPercent %</td>
                    <td>@item.Active</td>
                    <td>@item.CreatedAt</td>
                    <td>
                        <a style="color: green" asp-action="Edit" asp-route-id="@item.DiscountId" title="Edit"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a style="color: red;padding-left: 20px" asp-action="Delete" asp-route-id="@item.DiscountId" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a>



                    </td>
                </tr>
                }
            </tbody>

        </table>
    </div>
    <div class="card-footer clearfix">
        <ul class="pagination pagination-sm m-0 float-right">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
             new PagedListRenderOptions
                {
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" }
                }
            )
        </ul>
    </div>
</div>

