@model OnlineShoppingCart.Models.provinces

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>provinces</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name_en)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name_en)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.full_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.full_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.full_name_en)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.full_name_en)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.code_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.code_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.administrative_region_)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.administrative_region_.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.administrative_unit_)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.administrative_unit_.id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.code">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
