@model IEnumerable<OnlineShoppingCart.Models.provinces>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name_en)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.full_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.full_name_en)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.code_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.administrative_region_)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.administrative_unit_)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name_en)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.full_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.full_name_en)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.code_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.administrative_region_.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.administrative_unit_.id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.code">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.code">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.code">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
